.wp-block-gsmtc-contact{
    .gsmtc-contact{
        background-color: rgba(0,0,0,0);
        margin:0;
        padding: 0;
        color : #2f4f80;
        
        
        .gsmtc-contact-form{
            box-sizing: border-box;
            margin: 10px;
            
            .gsmtc-contact-input{
                border: 2px solid #2f4f80;
                border-radius: 5px;
                box-sizing: border-box;
                height: 40px;
                margin: 1% 0;
                padding: 0 1%;
                width : 100%;
                &:hover{
                    box-shadow: 5px 5px 15px #2f4f80
                }
            }

            .gsmtc-contact-textarea{
                border: 2px solid #2f4f80;
                border-radius: 5px;
                box-sizing: border-box;
                height: 150px;
                padding: 0 1%;
                width : 100%;
                &:hover{
                    box-shadow: 5px 5px 15px #2f4f80
                }
            }
            .gsmtc-contact-checkbox-container{
                margin: 1%;
            }
            .gsmtc-contact-enlace{
                color : #2f4f80;
                font-weight: bold; 
                text-decoration: none;               
            }

            .gsmtc-contact-submit{
                background-color: #2f4f80;
                border-radius: 5px;
                font-size: 15px;
                font-weight: bold;
                height: 40px;
                color: #ffffff;            
                width: 100%;
                &:hover{
                    box-shadow: 5px 5px 15px #2f4f80
                }
            }

            .gsmtc-contact-alerta-apagada{
                display: none
            }

            .gsmtc-contact-alerta-precaucion{
                background-color: #fff3cd;
                border-color: #ffecb5;
                border: 1px solid transparent;
                border-radius:0.25rem;
                box-sizing:border-box;
                color: #664d03;
                font-size: 12px;
                margin: 5px 0;
                text-align:center;
                padding: 5px; 
                transition: 0.4s; 
            }
              
            .gsmtc-contact-alerta-error{
                background-color: #f8d7da;
                border-color: #f5c2c7;
                border: 1px solid transparent;
                border-radius:0.25rem;
                box-sizing:border-box;
                color: #842029;
                font-size: 12px;
                margin:5px 0;
                text-align:center;
                padding: 5px; 
                transition: 0.4s; 
            }
              
            .gsmtc-contact-alerta-exito{
                background-color: #d1e7dd;
                border-color: #badbcc;
                border: 1px solid transparent;
                border-radius:0.25rem;
                box-sizing:border-box;
                color: #0f5132;
                font-size: 12px;
                margin:5px 0;
                text-align:center;
                padding: 5px; 
                transition: 0.4s;  
            }

            .gsmtc-contact-accordeon-button{
                background-color: #fff;
                border: 1px solid #2f4f80;
                border-radius: 5px;
                color : #2f4f80;
                display: flex;
                margin: 1% 0;
                padding: 2% 3%;
                text-decoration: none;  
                width: 100%;
                &:hover{
                    box-shadow: 5px 5px 15px #2f4f80
                }
            }


            .gsmtc-contact-accordeon-content{
                width: 100%;
            }
        }
    }
}